<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>zad5</servlet-name>
        <servlet-class>zad5</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>zad5</servlet-name>
        <url-pattern>/zad5</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>zad12</servlet-name>
        <servlet-class>zad12</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>zad12</servlet-name>
        <url-pattern>/zad12</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>zad10</servlet-name>
        <servlet-class>zad10</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>zad10</servlet-name>
        <url-pattern>/zad10</url-pattern>
    </servlet-mapping>
</web-app>